dist/
versions/
version
.opentofu-version
.terraform-version
bin/tofu-*
bin/terraform-*
/use-gnupg
/use-gpgv
.*.swp

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Idea
.idea
.DS_Store

tenv
terraform
terragrunt
tofu
atmos

./build/**

# File for changelog process
release-notes.txt

# CI files
.goreleaser_ci.yml
