---
name: "Check: Codespell"

on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"
  workflow_dispatch:

jobs:
  codespell:
    name: "Check for spelling errors"
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # ratchet:actions/checkout@v4

      - name: Codespell
        uses: codespell-project/actions-codespell@8f01853be192eb0f849a5c7d721450e7a467c579 # ratchet:codespell-project/actions-codespell@v2
        with:
          skip: .git,*.png,*.woff,*.woff2,*.eot,*.ttf,*.jpg,*.ico,*.svg,*.gpg,.*asc,.goreleaser.yaml,go.sum
          check_filenames: true
          check_hidden: true
