name: golangci-lint
on:
  push:
    tags:
      - v*
    branches:
      - main
  pull_request:
permissions:
  contents: read
jobs:
  golangci:
    name: lint
    runs-on: ubuntu-20.04
    steps:
      -
        uses: actions/setup-go@v5
        with:
          go-version: 1.18
      -
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      -
        name: golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: v1.55